/*this line is a comment*/
:root {
    scroll-behavior: smooth;
    text-decoration: none;
}
@keyframes scroll {
    from {
        opacity: 0;
        translate: -100vh 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }

}
@keyframes appear {
    from {
        opacity: 0;
        translate: -100vh 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }

}
header {
    top: 0;
}
body {
    font-family: sans-serif;
    font-size: larger;
    align-content: center;
    text-align: justify;
    background-color: rgba(130, 169, 221, 0.712);
}
a {
    text-decoration: none;
}
a:link {
    color: inherit;

}
nav {
    Position: fixed;
    width: 100%;
    height: 10px;
    background-color: #5305d1;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}
ul {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}
li {
    text-align: center;
    padding: 1em;
    list-style-type: none;
    color: aliceblue;
    min-width: auto;
    height: auto;
}
div {
    animation: scroll 0.6s ease-in-out;
    animation-timeline: view ();
    animation-range: 0% 50%;
}
.present {
    border-radius: 15px;
    border: black 1px solid;
    margin: 80px auto;
    width: 250;
    max-width: 300px;
}
button {
    height: fit-content;
    width: fit-content;
}
.about, .the_way, .my_work {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2em;
}
.name, .text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: center;
}
.name {
    font-size: 24px;
    text-align: center;
}
.work {
    display: flex;
    border: solid black;
}
section {
    margin-top: 50vh;
}